<%- include layout/header %>
	<div class="auto w980">
		<%if(error){%>
			<script>alert('<%=error%>')</script>
		<%}%>
		<div class="fix">
			<%- include layout/nav %>
		</div>
	</div>
<%- include layout/footer %>