<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/quick-layout-min.css' />
    <script src="/js/jq.js"></script>
  </head>
  <body>
  	<header id="header" class="bbd auto w980">
  		This is Header Page.
  	</header>
	